body{
    background-color: rgb(73, 231, 223);
}
#h{
    background-color: rgb(0, 255, 153);
    border: 2px rgb(0, 75, 203) solid;
}
p1{
    color: rgb(13, 5, 151);
    font-size: large;
    text-decoration:solid;
    text-decoration: underline;
}
.paraheadings{
    font-size: large;
    font-weight: 200;
}
p2{
    position: relative;
    left:50px;
    
}
p3{
    position: relative;
    left: 320px;
    top:-25px;
}
p4{
    position: relative;
    left:160px;
    top:190px;
}
#pic1{
   padding-left: 10px;
   margin-top: -25px;
}
#pic2
{
   padding-left: 280px;
   margin-top: -150px;
}
#pic3{
   padding-left: 170px;
   margin-top: 80px;
}
#button1{
    padding-left: 63px;
    margin-top: -220px;
    cursor: pointer;
    
}
#button2{
    padding-left: 340px;
    margin-top: -23px;
    cursor: pointer;
}
#button3{
    padding-left: 225px;
    margin-top: 205px;
    cursor: pointer;
}
#button4{
    padding-left: 50%;
    cursor: pointer;
}
.tech{
    margin-left: 300px;
    margin-top: -260px;
}
